<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="domain.fincas.com.fincas">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".r_usuario"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".homep"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".botones_ingreso_info"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ingreso_fincas"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ingreso_animales"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ingresoTipoAnimal"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ingresoAnimalesParto"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".medicamentos"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ventas"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".hierro"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".propietario"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home_consultas"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".consulta_medicamento"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animales"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_fincas"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".detalle_finca"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home_listado_animales"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animales_parto"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ingreso_animales_existentes"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animales_existentes"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_ventas"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animal_codigo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home_configuracion"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home_datos"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReadDataBase"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".intoCode"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animal_codigo2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".listado_animal_codigo3"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".lecheingre"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".intoCodeLeche"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".infoFina"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".readPartos" />
        <activity android:name=".hornal" />
        <activity
            android:name=".hornal.HornalActivity"
            android:label="@string/title_activity_hornal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".trabajos"></activity>
    </application>

</manifest>